# JMA FTP Configuration
# Example:
# FTP_HOST=ftp.ptree.jaxa.jp
FTP_HOST=
FTP_USER=
FTP_PASS=
FTP_REMOTE_DIR=

# Download Configuration
# Only download NetCDF files containing this substring.
FILENAME_MUST_CONTAIN=R21_FLDK.02801_02401

# Telegram Notification (Optional)
# Leave empty if Telegram notifications are not used.
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=